<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">会社概要</h3>
                </div>
            </div>
            <div class="row">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">会社名</th>
                    <td>合同会社クライシステム</td>
                  </tr>
                  <tr>
                    <th scope="row">所在地</th>
                    <td>〒530-0001 大阪市北区梅田1丁目11番4号 大阪駅前第4ビル9階 923-1155号</td>
                  </tr>
                  <tr>
                    <th scope="row">FAX</th>
                    <td>06-6345-7931</td>
                  </tr>
                  <tr>
                    <th scope="row">設立</th>
                    <td>2017年3月</td>
                  </tr>
                  <tr>
                    <th scope="row">代表社員</th>
                    <td>倉井龍太郎</td>
                  </tr>
                  <tr>
                    <th scope="row">事業内容</th>
                    <td>ソフトウェア開発事業(Webアプリケーション開発, スマートフォンアプリ開発, ブラウザ拡張機能開発)</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </section>
